{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Student Page</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <span class="navbar-brand my-nav mb-0 h1">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                <img src="{% static 'assets/LogoKPM.png' %}" alt="" width="40">
                <h4>KPMCare</h4>
            </span>
            
        </div>
    </nav>
    <main>
      


        


        <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#leftOffcanvas"
                aria-controls="leftOffcanvas">
                <i class="fa-solid fa-bars"></i>
        </button>
        <div class="content">
          <!-- <h1 class="display-3">Welcome <span class="fst-italic" >{{studentDetails1.studentName}}!</span></h1> -->
            <!-- <br>
            <br> -->
            <div class="container mb-5">
              <h1>Welcome back, {{studentDetails1.studentName}}</h1>
              <p class="fw-lighter">Here's what's going on at your college today.</p>
              <div class="row mt-5 center">
                <div class="col-sm-6 mb-3 mb-sm-0">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Total of reports</h5>
                      <p class="card-text">
                        {% if totalReport%}
                        <h2><strong>{{totalReport}}</strong></h2>
                        {%else%}
                        <h2><strong>0</strong></h2>
                        {%endif%}
                      </p>
                      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">Total of appointments</h5>
                      <p class="card-text">
                        {% if totalApp%}
                        <h2><strong>{{totalApp}}</strong></h2>
                        {% else %}
                        <h2>0</h2>
                        {%endif%}
                      </p>
                      <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <hr>
              <div class="title-header mb-2"><h2>Report</h2></div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Lecturer Report</th>
                        <th scope="col">Date</th>
                        <th scope="col">Category</th>
                        <th scope="col">Report</th>
                    </tr>
                  </thead>
                  <tbody>
                    <!-- {{studentDetails}}
                    {{reports}} -->
                    {% for report in reports %}
                    <tr>
                      <th scope="row">R{{report.id}}</th>
                      <td>{{report.mentor_id}}</td>
                      <td>{{report.date}}</td>
                      <td>{{report.reportCategory}}</td>
                      <td>{{report.reportText}}</td>
                      
                    </tr>
                    {% endfor %}
                  </tbody>
            </table>
            <hr>
            <div class="title-header mb-2 mt-5">
                <h2>Appointment</h2>
            </div>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">No</th>
                        <th scope="col">Lecturer Name</th>
                        <th scope="col">Date</th>
                        <th scope="col">Venue</th>
                        <th scope="col">Time</th>
                        <th scope="col">Message</th>
                        <th scope="col">Reason</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for appointment in appointmentDetails %}
                    {% if appointment.status == "Pending..."%}
                    <tr class="table-warning">
                        <th scope="row">AP{{ appointment.id }}</th>
                        {% for mentor in mentorDetails %}
                        {% if appointment.mentor_id == mentor.mentorId %}
                        <td>{{ mentor.mentorName }}</td>
                        {% endif %}
                        {% endfor %}
                        <td>{{ appointment.appointmentDate }}</td>
                        <td>{{ appointment.venue }}</td>
                        <td>{{ appointment.time }}</td>
                        <td>{{ appointment.description }}</td>
                        <td>{{ appointment.purpose }}</td>
                        <td>{{ appointment.status }}</td>
                    </tr>
                    {%elif appointment.status == "Rejected"%}
                    <tr class="table-danger">
                        <th scope="row">AP{{ appointment.id }}</th>
                        {% for mentor in mentorDetails %}
                        {% if appointment.mentor_id == mentor.mentorId %}
                        <td>{{ mentor.mentorName }}</td>
                        {% endif %}
                        {% endfor %}
                        <td>{{ appointment.appointmentDate }}</td>
                        <td>{{ appointment.venue }}</td>
                        <td>{{ appointment.time }}</td>
                        <td>{{ appointment.description }}</td>
                        <td>{{ appointment.purpose }}</td>
                        <td>{{ appointment.status }}</td>
                    </tr>
                    {%else%}
                    <tr class="table-success">
                        <th scope="row">AP{{ appointment.id }}</th>
                        {% for mentor in mentorDetails %}
                        {% if appointment.mentor_id == mentor.mentorId %}
                        <td>{{ mentor.mentorName }}</td>
                        {% endif %}
                        {% endfor %}
                        <td>{{ appointment.appointmentDate }}</td>
                        <td>{{ appointment.venue }}</td>
                        <td>{{ appointment.time }}</td>
                        <td>{{ appointment.description }}</td>
                        <td>{{ appointment.purpose }}</td>
                        <td>{{ appointment.status }}</td>
                    </tr>
                    {%endif%}
                    {% endfor %}
                </tbody>
            </table>
            <hr>
        </div>
              </div> 

            
            
        


        

    <div class="offcanvas offcanvas-start" tabindex="-1" id="leftOffcanvas" aria-labelledby="leftOffcanvasLabel">
        <div class="offcanvas-header">
    
            <h2 class="offcanvas-title" id="leftOffcanvasLabel">Hi {{studentDetails1.studentName}} !</h2>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <!-- {{studentDetails.studentName}} -->
            <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'profile' studentDetails1.studentId%}">Profile</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="{% url 'studentViewAppointment' studentDetails1.studentId%}">Appointment</a>
                </li>
                <hr>
                <li class="nav-item">
                    <a class="nav-link" href="{%url 'login'%}">Logout</a>
                </li>

            </ul>
        </div>
    </div>
    </div>
    
    </main>
    
</body>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
    integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
    crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
    integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
    crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/d46a78d0a5.js" crossorigin="anonymous"></script>



</html>